AD Review: C-Type

Add a reference to section 8 of RFC 4884 for C-type

